In [1]:
num1 = int(12.65)
print(num1)

12

In [6]:
num1 = float(45)
num2 = float(85)
num3 = float(90)

In [7]:
print(str(num1))
print(str(num2))
print(str(num3))

45.0
85.0
90.0

In [8]:
num1 = int(45.36)
num2 = int(80.25)
num3 = int(90.36)
print(num1,num2,num3)

45 80 90

In [9]:
print(str(num1))
print(str(num2))
print(str(num3))

45
80
90

In [11]:
num1 = int(70)
num2 = int(89.5)
num3 = int(77.88)
print(num1,num2,num3)

70 89 77

In [16]:
num1 = float(70)
num2 = float(89)
num3 = float(77)

In [12]:
name = input('please provide your name')

please provide your nameifeanyi

In [14]:
age = int(input('provide your age: '))

provide your age: 45

In [17]:
age2 = float(input('provide your age:'))

provide your age:45

# INPUT FUNCTION

# OPERATORS

# ARITHMETIC OPERATORS

In [18]:
num1 = int(input('provide the first number: '))
num2 = int(input('provide the second number: '))
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

provide the first number: 20
provide the second number: 10
20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2.0
20 % 10 = 0
20 // 10 = 2
20 ** 10 = 10240000000000

# COMPARISM OPERATORS

In [28]:
num1 = int(input('provide the first number: '))
num2 = int(input('provide the second number: '))
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} != {num2} = {num1 != num2}')

provide the first number: 67
provide the second number: 7
67 > 7 = True
67 < 7 = False
67 >= 7 = True
67 <= 7 = False
67 == 7 = False
67 != 7 = True

# LOGICAL OPERATOR

In [29]:
num1 = int(input('provide the first number: '))
num2 = int(input('provide the second number: '))
print(f'{num1} > {num2} and {num1} != {num2} = {num1 > num2 and num1 != num2}')
print(f'{num1} > {num2} and {num1} != {num2} = {num1 > num2 and num1 != num2}')

provide the first number: 25
provide the second number: 85
25 > 85 and 25 != 85 = False
25 > 85 and 25 != 85 = False

# INDENTITY OPERATOR

In [30]:
num1 = int(input('provide the first number:'))
num2 = int(input('provide the second number:'))
print(num1 is num2)
print(num1 is not num2)

provide the first number:30
provide the second number:30
True
False

# MEMBERSHIP OPERATOR

In [32]:
course = input('please provide a word: ')
print('s' in course)
print('t'not in course)

please provide a word: python
False
False

In [35]:
#JOB BOUGHT N PEN AT THE RATE OF 50 NAIRA EACH AND SOLD THE PEN AT THE RATE OF 100 EACH
#CALCULATE JOB'S PROFIT 
quantity = int(input('provide pen quantity: '))
cost = 50 * quantity
selling = 100 * quantity
profit = selling - cost
print(f'Job\'s profit on {quantity} pen is {profit}' )

provide pen quantity: 450
Job's profit on 450 pen is 22500